﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SuperAdmin/AdminMasterPage.master" AutoEventWireup="true" CodeFile="SuperAdminHome.aspx.cs" Inherits="SuperAdmin_SuperAdminHome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

</asp:Content>

